<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBBAP</title>
    <style>
        body {
            max-width: 1200px;
            margin: 20px auto;
            padding: 0 20px;
            background-color: #ffebbb;
        }

        p, h1, h2, h3, a, ul {
            margin: 0;
            padding: 0;
            text-decoration: none;
            color: #222;
        }

        nav {
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
            padding-bottom: 10px;
            border-bottom: 2px solid rgb(58, 58, 58);
            text-transform: uppercase;
        }
        nav ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        nav li {
            list-style-type: none;
            margin-left: 20px;
        }
        nav h1{
            font-size: 3em;
        }
        nav p, nav a {
            color: rgb(36, 86, 45);
        }
        footer {
            background-color: rgb(68, 132, 130);
            text-align: center;
            margin: 100px auto;
        }
        .vergelijk {
            margin: auto;
            text-align: center;
            width: 80%; 
            padding: 10px;

        }
        .vergelijkButton {
            border-radius: 0.5cm;
            position: inherit;
        }
        nav img {
           width: 150px;
           height: auto;
        }
        
        footer {
            position: fixed;
            height: 50px;
            background-color: rgb(115, 183, 71);
            bottom: 0px;
            left: 0px;
            right: 0px;
            margin-bottom: 0px;
        }

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }
        
        input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        input[type=submit]:hover {
            background-color: #45a049;
        }
        section{
            padding: 10%;
            padding-top: 5%;
            font-size: 17px;
        }
        .column{
            padding: 1rem;
        }
        .column img {
            float: left;
            width: 9rem;
            border-radius: 50%;
            margin-right: 2rem;
        }
        
        .container {
            padding: 20px;
        } 
    </style>
</head>