<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>
    
<body>
    <nav>
        <img id="logo" src="/public/Logo.png" alt="logo"><a href="#"></a>

        <ul>
            <li><a href="/">Home</li></a>
            <li><a href="/about">About</li></a>
            <li><a href="/contact">Contact</li></a>
            <li><a href="/history>">History</a></li>
        </ul>  
    </nav>

    <div class="Over-ons">
        <h1>Over ons</h1>
        <p>We zijn de studenten aan ap.</p><hr>
        <br>
      </div>
      
      <h2 style="text-align:center">Het Team</h2><br>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="../public/no_profic_pic.png" alt="Erik">
            <div class="container">
              <h2>Erik Stuer</h2>
              <p class="title">CEO & Founder</p>
              <p>Erikstuer99@gmail.com</p><br>
              <button class="button"><a href="mailto:erikstuer99@gmail.com">E-mail sturen</a></button>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="../public/Jeroen.jpg" alt="Jeroen">
            <div class="container">
              <h2>Jeroen Folla</h2>
              <p class="title">Developer</p>
              <p>Folla.jeroen@gmail.com</p><br>
              <button class="button"><a href="mailto:Folla.jeroen@gmail.com">E-mail sturen</a></button>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="../public/shubham.png" alt="Shubham">
            <div class="container">
              <h2>Shubham Prasain</h2>
              <p class="title">Developer</p>
              <p>Shubprasain@aol.com</p><br>
              <button class="button"><a href="mailto:Shubprasain@aol.com">E-mail sturen</a></button>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <img src="../public/asmar.png" alt="Tiba">
            <div class="container">
              <h2>Asmar Tiba</h2>
              <p class="title">Designer</p>
              <p>Asmartiba@hotmail.com</p><br>
              <button class="button"><a href="mailto:Asmartiba@hotmail.com">E-mail sturen</a></button>
            </div>
          </div>
        </div>
      </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>