<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <nav>
        <img id="logo" src="/public/Logo.png" alt="logo"><a href="#"></a>

        <ul>
            <li><a href="/">Home</li></a>
            <li><a href="/about">About</li></a>
            <li><a href="/contact">Contact</li></a>
            <li><a href="/history>"History</a></li>
        </ul>  
    </nav>
    <%- include('./partials/footer.ejs') %>
</body>
</html>